.list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  grid-column-gap: 25px;
  grid-row-gap: 70px;
  padding-bottom: 50px;
}

/* Media */

@media (max-width: 1280px) {
  .list {
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }
}

@media (max-width: 580px) {
  .list {
    grid-template-columns: auto;
    justify-content: center;
  }
}
